body {
    margin: 0;
    padding: 0;
}

.image-product {
    max-width: 470px;
    margin: 20px;
    padding: 10px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-product__img {
    align-items: center;
    max-width: 400px;
    height: 300px;
    margin-left: 80px;
}
.info {
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-container__title {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px 0;
}

.info-container__rating-vote,
.info-container__rating-sold,
.info-container__rating {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.info-container__rating-icon {
    color: var( --star-gold-color);
    font-size: 1.2rem;
}


.info-container__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    height: 70px;
    background-color: #eee;
    border-radius: 2px;
}

.info-container__price-new {
    font-size: 3rem;
    color: var(--primary-color);
    margin-left: 10px;
    align-items: baseline;
}

.info-container__price-old {
    font-size: 2rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.info-container__btn {
    margin-top: 20px;
}

.info-container__btn-sale {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 1;
}

.info-container__btn-sale:hover {
    opacity: 0.6;
}

.info-container__deal {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 20px;
}

.info-container__installment {
    margin: 15px 0;
}

.info-container__installment-istm {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.info-container__installment-container {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 10px;
}

.info-container__shipping-title {
    font-size: 1.6rem;
    color: var(--text-color);
}

.info-container__shipping-icon {
    font-size: 1.4rem;
    color: rgb(73, 162, 146);
}

.info-container__shipping-text {
    font-size: 1.2rem;
    margin: 0 20px;
    color: var(--text-color);
}

.info-container__classify-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.info-container__classify-btn
.info-container__classify-btn-color {
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.info-container__classify-btn:hover
.info-container__classify-btn-color:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.info-container__quantity {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.info-container__quantity-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 30px;
}


.info-container__quantity button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
}

.info-container__quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    height: 30px;
    outline: none;
}

.info-container__quantity__if {
    font-size: 1.2rem;
    margin-left: 30px;
}

.info-container__card {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.info-container__card button {
    padding: 14px;
    flex: 1;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.info-container__card:hover
button:hover {
    opacity: 0.8;
}

.info-container__btn-addcard {
    background-color: var(--primary-color);
}

.info-container__cat-buynow {
    background-color: #fadb42;
}
